/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.lein-repl-history
/resources/public/js
/public/js/out
/public/js/release
/public/js/monkey-codemirror-player.js
/public/js/app.js

/out
/.repl
*.log
/.env
pad
figwheel_server.log
node_modules
public/css
public/js/monkey-cm-player.js
/package.json
package-lock.json
