/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.lein-repl-history
/resources/public/js
/public/js/out
/out
/.repl
*.log
/.env
pad
figwheel_server.log
node_modules
public/css
package.json
package-lock.json
