
$background-color: #151718;
$font-color: #FFFFFF;

$toolbar-bg-color: black;
$toolbar-icon-color: #FFBE11;
$toolbar-icon-hover-color: #2C2C2C;

$scrollbar-color: gold;

$title-font: 'Snowburst One', cursive;
$text-font:  'Varela Round', sans-serif;
