@import url('https://fonts.googleapis.com/css?family=Varela+Round');

@import "theme";

@import "codemirror";

@import "widgets";
@import "editor";


// common
.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.horizontal-flip {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}


body {
  background-color: $background-color;
  color: $font-color;
  font-family: $text-font;
}
