@import "theme";
@import "utils";

// screen layout
.editor-screen-layout {

  height: 100vh;
  display: flex;
  flex-direction: column;

  .editor-navbar, .timeline-navbar {
    flex-shrink: 0;
  }

  .stage-container {
    flex-grow: 2;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }


  .code-area {
    width: 100%;
  }
}


// editor toolbar
.editor-navbar {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  background-color: $toolbar-bg-color;

  .icon-record {
    color : #F42C04;
  }

  .navbar-brand {
    @include no-select;
  }

}



// timeline
.timeline-navbar {
  @include no-select;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  background-color: $toolbar-bg-color;


  .timeline-toggle {
    position: absolute;
    left:0;
  }
}

.timeline-container {
  @include no-select;
  overflow: hidden;

  .collapsible-v-panel {
    transition-property: max-height;
  	transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    overflow: hidden;

    position: relative;
    bottom: -7px;

    &.hide { // max-height is set by the actual code
             // because we need to set inner canvas height as a prop
      max-height: 0 !important;
    }
  }

  .wave-progress {
      .timeline-progress  {
        height: 5px;
      }
  }

  .percentage-progress {
    .timeline-progress  {
      height: 10px;
    }

  }

  .progress-panel {
    cursor: pointer;
    position: relative;
  }

  .timeline-progress {
    border-radius: 0;
    background-color: $toolbar-icon-hover-color;

    .progress-bar {
      height: 100%;
      background-color: #006495;
      transition-duration: 0s;
    }
  }

  .timeline-pins {

    position: relative;
    height: 50px;

    .timeline-pin {
        position: absolute;
        bottom: 30px;
        z-index: 99;
        cursor: pointer;
    }

    .timeline-pin:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-width: 13px;
          border-style: solid;
          border-color: #FFBE11 transparent transparent transparent;
          top: 20px;
          left: -13px;
    }

    .timeline-pin:hover:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-width: 13px;
          border-style: solid;
          border-color: #FFBE11 transparent transparent transparent;
          top: 21px;
          left: -13px;
    }
  }
}




// code editor
.code-area {

  .CodeMirror {
    font-size: 18px;
    height: 100%;
  }

  padding-right: 4px;
  padding-top: 5px;
  background-color: $background-color;

  // all modes
  .monkey-mark{
    border-bottom-width: 1px;
    border-bottom-color: gold;
    border-bottom-style: solid;
    position: relative;
  }

  .editor-mark-element {
    position: absolute;
    right: 5px;
  }

  .CodeMirror-linewidget {
    overflow: inherit;
    z-index: 99;
  }


  // spesific modes
  .editor-mode-highlighting {
    .monkey-mark {
      background-color: rgba(183, 53, 66, 0.6);
    }
  }

  .editor-mode-preview {
    .CodeMirror-cursors {
        visibility: visible !important;
        cursor: hand !important;
    }
  }
}


.add-highlight-modal {
  .modal-header {
    padding-bottom: 0;
  }
  .mark-summary {
        display: flex;
        flex-direction:row-reverse;
        padding-bottom: 5px;

      .icon-id {
        color: $toolbar-icon-color;
      }
  }

  .btn  {
    .icon-plus {
      color: #28a745;
      font-size: 1.1em;
      position: relative;
      top: 0.05em;
    }

    .icon-delete {
      color: #c82333;
      font-size: 1.1em;
    }
  }

  .mark-description .CodeMirror {
    max-height: 100px;
    font-size: 16px;
  }
}


.highlight-edit-modal {
  .mark-description .CodeMirror {
    max-height: 80px;
    margin-bottom: 20px;
  }

  .json-edit .CodeMirror {
    max-height: 160px;
    margin-bottom: 20px;
  }

  .modal-header {
      .icon-id {
        color: $toolbar-icon-color;
      }
  }

  .btn  {
    .icon-ok {
      color: #28a745;
      position: relative;
      top: 0.05em;
    }

    .icon-undo {
      color: #c82333;
      font-size: 1.2em;
    }
  }
}

.marks-panel {

  border-bottom-style: solid;
  border-bottom-color:  $side-panel-border-color;

  display: flex;
  flex-direction: column;


  &.side-panel {
    position: absolute;
    right: 0px;
    background-color: $side-panel-bg-color;
    color: $side-panel-font-color;
    overflow: hidden;
    z-index: 100;

    max-width: 260px;
    min-width: 260px;

    color: transparent;
      height: 0%;


    transition-property: height, color;
  	transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);


    &.open {
      height: 100%;
      color: $font-color;
    }
  }

  .tabs {
    display: flex;

    .tab {
      @include no-select;

      padding: 8px;
      text-transform: uppercase;
      text-align: center;
      flex-grow: 1;

      &.selected {
        border-bottom-color: $side-panel-tab-active-color;
        border-bottom-style: solid;
      }
    }

  }

  .mark-list {
    @include no-select;
    list-style: none;
    padding: 0px;
    padding-top: 40px;
    padding-right: 5px;
    overflow-x: hidden;

    .icon-record {
      color: #F42C04;
    }

    .icon-add-mark {
      color: $toolbar-icon-color;
    }

    .mark-list-item {
      padding: 8px;
      cursor: pointer;

      border-left-color: $side-panel-item-color;
      border-left-width: 3px;
      border-left-style: solid;

      &:hover, &.being-edited {
          background-color: $side-panel-item-hover-color;
      }

      &.active {
        border-left-color: $side-panel-item-active-color;
      }

      &:hover .header-buttons {
        visibility: visible !important;
      }

      &:hover .info-preview {
        border-color: transparent;
      }

      .header {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;

          .header-buttons {
            font-size: 1.4em;
            visibility: hidden;

            * {
              padding-right: 5px;
            }

          .icon-delete:hover {
            color: red;
            cursor: pointer;
          }
        }

        .header-icons {
          font-weight: 900;
          .insert {
            padding-left: 10px;
          }
        }
      }

      .info-preview {
          border-bottom-style:solid;
          border-bottom-width: 1px;
          border-color: #2F4F4F;
          margin-top: 20px;
          margin-bottom: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

    }
  }
}

// export
.export-modal {

  .code-export {
    margin-top: 2rem;
  }

  .option-items {
    margin-bottom: 2rem;
  }

  .playback-code .CodeMirror {
    max-height: 140px;
  }

  .dependecies-code .CodeMirror {
    max-height: 80px;
  }
}


@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 1}
}
