@import "theme";
@import "utils";


.toolbar-spacer {
  margin-right: 40px;
}


.toolbar-button {
  padding-left: 8px;
  padding-right: 8px;
  font-size: $toolbar-icon-size;
  color: $toolbar-icon-color;

  .icon {
    width: $toolbar-icon-size;
  }

  &:hover {
    background-color: $toolbar-icon-hover-color;
  }

  &.selected {
    color: $toolbar-icon-selected-color;
    background-color: $timeline-progress-bg-color;
  }

  &.disabled {
    color: grey;
  }

  &.disabled:hover {
    background-color: transparent;
  }
}


.editable-label {
  color: $font-color;
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  margin-left: 5px;
}


.modal {
  display: block;
  color: black;
}


.icon {
  display: inline-block;
  text-align: center;

}


.simplebar-scrollbar { // FIXME
  background: $scrollbar-color!important;
}
