.highliting-mark{
  background-color: rgba(114, 158, 85, 0.5);
  position: relative;
}



.editor-mode-highlighting .highliting-mark {
  background-color: rgba(183, 53, 66, 0.6);
}

.editor-mark-element {
  position: absolute;
  right: 5px;
}

.CodeMirror-linewidget {
  overflow: inherit;
  z-index: 99;
}


.highliting-mark-start::before {
  content: "";
   border: 3px solid rgb(123, 66, 84);
   border-radius: 3px;
   -webkit-border-radius: 3px;
   height: 0;
   left: -4px;
   top: -4px;
   position: absolute;
   width: 0;
   animation-name: beacon;
   animation-duration: 2.5s;
   animation-iteration-count: infinite;
}

@-webkit-keyframes beacon {
   0% {
       border-color: rgba(163, 163, 163, 1);
       border-radius: 3px;
       -webkit-border-radius: 3px;
       padding: 10;
   }
   100% {
       border-color: rgba(163, 163, 163, 0);
       border-radius: 20px;
       -webkit-border-radius: 25px;
       left: -16px;
       padding: 21px;
       top: -18px;
   }
}
